<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
* {
  box-sizing: border-box;
}

body {
  font-family: cursive;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
</style>
    <title>Home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    
<script src='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body style="background-color: gray;">
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/user">News</a>
                <a class="nav-link" href="/user/new">Report Complain</a>
                <a class="nav-link" href="/help">Helpline</a>
            </div>
            <div class="navbar-nav ml-auto">
                <% if(!currentUser) {%>
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/register">Register</a>
                <% } else {%>
                <a class="nav-link" href="/logout">Logout</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>



    <div class="row" >

        <% for (let c of complains) {%>
        
                <div class="column">
                        <div class="card mb-3">

        <div class="col-md-8">
            <% for(let img of c.image) {%> 
            <img src="<%=img.url%>" class="img-fluid" alt="...">
            <% break; %> 
            <% } %> 
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title" ><%= c.complain %> </h5>
                <p style="font-family: cursive;"><%= c.details %></p>
                <p style="font-family: cursive;"><%= c.location %></p>
            </div>
        </div>
    </div>
</div>
            <% } %>
    </div> 



    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const complains = {features: <%- JSON.stringify(complains) %>};
    </script>
    <script src="/js/clusterMap.js"></script>
</body>
</html>